/*------------------------------------ D E F A U L T -----------------------*/


#content_wrapper, footer{

	width: 1050px;
}


.contenido, header{
	width: 990px;
	margin-left: auto;
	margin-right: auto;

}

header {
	height: 50px;	
}
header nav{
	margin-top: 3%;
}

.main_image {
	text-align: center;
}

.main_image img{
	width: 990px;
	height: 340px;
}

.logo{
	width: 60%;
	float: left;
}

nav li{
	display: inline;
	font-size: 14px;
	padding: 4px;
	border-right: 2px solid gray;
	padding-right: 14px;
}

/* Estilo de los navegadores del footer y el encabezado*/
.menu{
	float: right;
}


/*----------------------------------------------------*/

.footer_text{
	float: bottom;
	padding-top: 20px; 
	font-size: 12px;
	text-align: center;
}

/*---Contenido (Articles y Sections) -----*/
.main_section{
	width: 400px;
	float: left;
}
.sub_section , .sub_section img{
	width: 285px;
} 
.sub_section img{
	margin-top: 10px;
	margin-bottom: 5px;
}
.sub_section{
	float: left;
	margin-left: 10px;
}
/*----------------------------------------*/

/*-------------------------------------------------------------------------*/
@media  screen and (max-width : 1000px) {
	
	#content_wrapper, footer{

		width: 800px;
	}
	.contenido, header{
		width: 740px;
	}

	.main_image img{
		width: 740px;
		height: 280px;
	}

	.logo{
		width: 50%;
	}
	.footer_text{
		padding-top: 0px;
	}
	footer .menu{
		display: none;
	}

	/*---Contenido (Articles y Sections) -----*/
	.main_section{
		width: 740px;
	}
	.sub_section , .sub_section img{
		width: 345px;
	} 

	.sub_section{
		margin-right: 15px;
	}


}

@media  screen and (max-width : 745px) {
	#content_wrapper, footer{

		width: 100%;
	}
	.contenido, header{
		width: 95%;
	}

	header {
		height: 40px;	
	}

	.main_image img{
		width: 95%;
		height: 10%;
	}

	.logo{
		width: 95%;
		text-align: center;
	}
	.logo h1{
		margin: 5px;
	}
	.footer_text{
		padding-top: 0px;
		text-align: center;
	}
	footer .menu{
		display: none;
	}
		/*---Contenido (Articles y Sections) max-width: 745px; -----*/
		
	.main_section{
		width: 95%;
		float: left;
	}
	.sub_section{
		width: 95%;
	}
	.sub_section img{
		width: 100%;
	}
	.menu{
		float:left;
		width: 100%;
	} 

	nav li{
		display: block;
		font-size: 14px;
		padding: 4px;
		border: none;
		text-align: center;
		background:  #D3D3D3;
		margin: 2px;	
	}
	.activo{
		background: #A3A3A3;
	}

}
