#main_wrapper{
	position: fixed;
	height: 100%;
	margin-left: 0 auto;
	margin-right: 0 auto;
}

#content_wrapper{
	overflow-y: scroll;
	height: 90%;
}

.logo{
	width: 60%;
	float: left;
}
.menu{
	float: right;
}

nav li{
	display: inline;
	padding: 10px;
}